Manifest-Version: 1.0
Deployit-Package-Format-Version: 1.3
CI-Application: <application>
CI-Version: 1.0-<timestamp>

Name: ls
CI-Type: cmd.Command
CI-Order: 79
CI-commandLine: ls -ltra /tmp
CI-dependencies-EntryValue-1: resources/<timestamp>.txt

Name: resources/<timestamp>.txt
CI-Type: file.File
CI-TargetPath: /tmp
CI-Name: resource


